body{ 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#header1 a{
	color: white;
	text-decoration: none;
    opacity: 1.0;
}
.header3 a{
	color: #404040;
	text-decoration: none;
	z-index: -1;
}
#header1{
	left:0;
	top: 0;
	position: fixed;
	height: 5%;
	background-color: #404040;
	color: white;
	width: 100%;
	display: flex;
	font-family: tahoma;
}
.left-element{
	top: 10px;
	position:relative;
	left: 10%;
	float: left;
	width: 200px;
}
.right-element{
	top: 10px;
	position: relative;
	left: 60%;
}
.header2{
	width: 100%;
	position: absolute;
	margin-top: 8%;
	font-size: 50px;
	z-index: -1;
}
.secElement{
	margin-left: 60px;
}
.header3{
	width: 100%;
	height: 30px;
	position: relative;
	left:60%;
	font-size:20px;
	display: inline;
}
.header3 img{
	position: relative;
	top: -20px;
	left: 200%;
	height: 280px;
	z-index: -1;
}
.headers{
	font-family: "Libre Baskerville";
	font-weight: bold;
	color: #404040;
	margin-left: 10%;
	width: 100%;
}
.main-part{
	position: relative;
	width: 100%;
	top: 250px;
	left: 10%;
}
ul{
	padding: 0;
	list-style-type: none;
}
.header3 li{
	position: relative;
	top: 200px;
	font-size: 15px;
	font-family: tahoma;
	display:inline;
}
.content{
	margin-top: 22px;
	float:left;
	margin-left: 50px;
	height: 300px;
	font-size: 20px;
	color: #404040;
	font-family: "Lucida Grande";
}
.left-nav{
	float:left;
	width: 300px;
	border-right: 1px solid #404040;
}
.left-nav .part2{
	margin-top: 50px;
	height: 400px;
	font-family: comic;
	color: #404040;
	font-weight: bold;
	line-height: 0.8;
}
.part2 a{
	line-height: 1;
	font-style: italic;
}
.left-nav a{
	font-family: comic;
	color: #404040;
	text-decoration: none;
	line-height: 2;
	font-weight: bold;
	font-style: italic;
}
