<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/myownstyles.css">
    <title>
      Login
    </title>
</head>
<body>
       <div id="header1">
            <a href="#" class="left-element">Welcome to Login!</a>
       </div>

    <section class="registerform">
      <form action="../backend/login.php" method="POST">

           <label for="uname">User Name</label><br>
           <input type="text" id="uname" name="username" placeholder="Username" required><br>
           <label for="pw">Password</label><br>
           <input type="password" id="pw" name="password" placeholder="Password" required><br>
           <label>
           <input type="submit" value="Submit"></label>
      </form>
    </section>
</body>
</html>
