<!DOCTYPE html>
<html>
<head>
  <title>Create a new post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/myownstyles.css">
</head>

<!--?php //connect to the server
require_once('../config/constant.php');
?-->

<body style="background-color:#f2f2f2;">

  <div id="header1">

            <a href="personal_index.php" class="left-element">Back to my homepage</a>
            <a href="../backend/logout.php" class="right-element">Log out</a>
       </div>

    <section class="postform">
      <form action="../backend/new_post.php" method="POST" id="usrform">
           <label for="ptitle">Title</label><br>
           <input type="text" id="ptitle" name="title"><br>
           <label>Content</label><br>
           <textarea rows="20" cols="20" name="content"></textarea><br>
           <label for="sta">Status</label><br>
           <input type="radio" id="sta" name="status" value=true checked> Public<br>
           <input type="radio" id="sta" name="status" value=false> Private<br>
    <input type="submit" value="Submit">
   </form>

    </section>




</body>
</html>
